@page
@model MyApp.Namespace.LoginModel
@{
    ViewData["Title"] = "Login";
}

<form>
    <div>
        <label asp-for="Email"></label>
        <input asp-for="Email" type="email"/>
        <span asp-validation-for="Email"></span>
    </div>
    <div>
        <label asp-for="Password"></label>
        <input asp-for="Password" type="password"/>
        <span asp-validation-for="Password"></span>
    </div><div>
        <label asp-for="RememberMe"></label><br />
        <input asp-for="RememberMe" />
    </div>
    <div>
        <input type="submit" value="Вход" />
    </div>
</form>

