@page
@model MyApp.Namespace.RegisterModel
@{
    ViewData["Title"] = "Регистрация";
}

<form method="post" asp-action="Register" asp-validation-summary="ModelOnly" asp-antiforgery="true">
    <div>@ViewData["errors"]</div>
    <div>
        <label asp-for="UsersInput.Email"></label>
        <input asp-for="UsersInput.Email" type="email" />
        <span asp-validation-for="UsersInput.Email"></span>
    </div>
    <div>
        <label asp-for="UsersInput.Password"></label>
        <input asp-for="UsersInput.Password" type="password" />
        <span asp-validation-for="UsersInput.Password"></span>
    </div>
    <div>
        <label asp-for="UsersInput.PasswordConfirm"></label>
        <input asp-for="UsersInput.PasswordConfirm" type="password" />
        <span asp-validation-for="UsersInput.Password"></span>
    </div>
    <div>
        <button type="submit">Регистрация</button>
    </div>
</form>